<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASK MANAGER</title>
    <link rel="stylesheet" href="/style/index.css">
</head>
<body>
    <nav class="navbar">
        <h3>TASK MANAGER</h3>
        <div class="nav-items">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a class="sec-link" href="/login">LOGIN</a>
            <a class="sec-link" href="/regis">SIGN UP</a>
        </div>
    </nav>

    <div class="main-content">
    <div class="left-tab">
        <h1>Welcome to Task Manager</h1>
        <p>Your ultimate solution for organizing and managing your tasks efficiently. Stay on top of your to-do list with our intuitive interface and powerful features.</p>
        <a href="/dashboard" class="btn">Get Started</a>
    </div>

    <div class="right-tab">
        <img src="/img/3.svg" height="200" alt="">
    </div>
</div>
</body>
</html>